<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        
        <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 100px; height: 100px;">
            <img src="https://i.pinimg.com/736x/1a/7d/c7/1a7dc7508a3af5468f491b116624a376.jpg" height="150" alt=""
                 loading="lazy" />
            </div>

         
      <a style="margin-left: 30px;" class="navbar-brand" href="/">Villaku</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/villaku/register"> Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/villaku/login">Login</a>
          </li>
            <a style="margin-left: 1000px;" href="/villaku/logout" class="btn btn-outline-success" type="submit">Log out</a>
      </div>
    </div>
  </nav>