<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Form Add Villa</title>
</head>
<body>
    <style>
           body {
      background-color: aqua;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
    </style>
    <% data.forEach(element => { %>
     
    <% }) %>
    <div class="container"; style="background-image: url();">
        <form action="/villaku/admin/<% element.id %>/add" method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="text" class="form-control" name="name">

            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Description</label>
                <input type="text" class="form-control" name="description">

            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Price</label>
                <input type="number" class="form-control" name="price">

            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Image Url</label>
                <input type="text" class="form-control" name="image_Url">

            </div>
            <button type="submit" class="btn btn-primary">Add</button>


        </form>
    </div>
    <%- include('_link') %>
</body>
</html>